@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
html,
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: white !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

:root {
  --black: #2f2a2e;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: white;
  }
}
.middleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0px auto;
  color: black;
}
@media screen and (max-width: 1320px) {
  .middleContainer {
    width: 100%;
    margin: 0;
  }
}
#pixi-container {
  width: 100vw !important;
  height: calc(100vh);
  /* border: 5px solid black; */
}

/* .body-container {
  position: relative;
  width: 80vw;
} */

/* .sidebar-element {
  display: flex !important;
  height: 50px;
  margin: 10px 0 10px;
}

.sidebar-helement {
  display: flex !important;
  height: 70px;
  margin: 10px 0 10px;
  border: 1px solid black;
}

.sidebar-helement {
  display: flex !important;
  height: 70px;
  margin: 10px 0 10px;
  border: 1px solid black;
}

.sidebar-element > .title {
  width: 70%;
}

.sidebar-element > .year {
  width: 20%;
  margin-right: 10%;
} */

.line {
  background-color: orange;
  height: 120%;
  width: 2px;
  position: absolute;
  left: 22%;
}

.rel {
  height: 100%;
  width: 100%;
  position: relative;
}

.list {
  /* height: 500px; */
  width: 100vw;
  position: absolute;
  bottom: 0;
  /* overflow: auto; */
  cursor: grab;
  overflow-x: scroll;
  display: flex;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  gap: 16px;
}

/* .selected {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
} */

.list-element {
  display: flex;
  min-width: 256px;
  max-width: 256px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--black);
  scroll-snap-align: center;
  opacity: 0.3;
  transition: opacity 400ms ease-in-out;
  /* padding: 14px;
  border-radius: 8px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05), 0 4px 8px 0 rgba(0, 0, 0, 0.1); */
}

.list-element > .title {
  /* padding: 10px 10px 10px 20px; */
  font-size: 1rem;
}

.list-element > .year {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 0.8rem;
  margin-right: 0;
  margin-bottom: 8px;
}

.year-content {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  color: #252223;
  text-align: center;
  /* width: 50px; */
  /* height: 50px; */
}

.title-content {
  padding: 12px 16px 12px 16px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  color: #252223;
}
.selected {
  opacity: 1;
}
.year {
  /* font-weight: 600;
  height: 70px;
  width: 70px;
  font-size: 1.1rem;
  border-radius: 50%;
  background-color: #ffce9b; */
}

.title {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  /* box-shadow: 0px 8px 20px rgba(47, 42, 46, 0.05); */
  /* border: 1px solid black; */
  box-shadow: 0px 8px 20px rgba(47, 42, 46, 1);
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.8);
  /* box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05), 0 4px 8px 0 rgba(0, 0, 0, 0.1); */
  margin-top: 8px;
}

/* Designing for scroll-bar */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
}

.full-height-mobile {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}
