.blockImage {
  flex: 1;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
}
.blockText {
  flex: 1;
  font-family: Nunito;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.blockContainer {
  width: 80%;
  /* margin: 10% auto; */
  display: flex;
  color: #2f2a2e;
  align-items: center;
}
