html,
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: white !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --black: #2f2a2e;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: white;
  }
}
.middleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0px auto;
  padding: 0px 16px;
  color: black;
}
@media screen and (max-width: 1320px) {
  .middleContainer {
    width: 100%;
    margin: 0;
  }
}
#pixi-container {
  width: 100vw !important;
  height: calc(100vh);
  /* border: 5px solid black; */
}

/* .body-container {
  position: relative;
  width: 80vw;
} */

.carousel {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.sidebar-element {
  display: flex !important;
  height: 50px;
  margin: 10px 0 10px;
}

.sidebar-helement {
  display: flex !important;
  height: 70px;
  margin: 10px 0 10px;
  border: 1px solid black;
}

.sidebar-helement {
  display: flex !important;
  height: 70px;
  margin: 10px 0 10px;
  border: 1px solid black;
}

.sidebar-element > .title {
  width: 70%;
}

.sidebar-element > .year {
  width: 20%;
  margin-right: 10%;
}

.line {
  background-color: orange;
  height: 120%;
  width: 2px;
  position: absolute;
  left: 22%;
}

.rel {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
}

.search-container {
  position: absolute;
  z-index: 11;
  top: 10%;
  height: 500px;
  /* width: 360px; */
  right: 0;
}

.search-results {
  width: 320px;
  max-height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  border: 1px solid black;
  /* background: linear-gradient(180deg, black 5%, cyan); */
  /* background: linear-gradient(
        360deg,
        rgba(52, 53, 56, 0.5) 0%,
        rgba(255, 255, 255, 0) 100%
    );
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

.search-results > div {
  width: 300px;
  margin: 0.5rem 0;
  padding: 12px 16px 0 16px;
  border-radius: 8px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.search {
  color: black;
  font-size: 1rem;
}

.search > * {
  margin-bottom: 10px;
}

.search-results-count {
  margin: 10px;
}

.search-content {
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.86);
}

.search-content > div {
  margin: 8px;
}

.search-content div:first-child {
  font-size: 1.2rem;
  font-weight: bold;
}

.search-input {
  display: flex;
  align-items: center;
  width: 300px;
  height: 46px;
  border-radius: 15px;
  margin: 10px;
  padding: 4px;
  border: 1px solid rgba(37, 34, 35, 0.5);
}

/* .search-input:focus-within {
    border: 1px solid black;
} */

.search-input > input {
  flex: 1 1 0%;
  background: none;
  border: none;
  color: black;
  font-size: 1rem;
  outline: none;
  /* border-radius: 15px;
    padding: 10px; */
}

.search-input > svg {
  margin: 0 0.5rem;
}

.list {
  height: 500px;
  width: 360px;
  position: absolute;
  overflow: auto;
  cursor: grab;
  overflow-x: hidden;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  /* scroll-snap-type: y mandatory; */
}

/* .selected {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
} */

.list-element {
  height: 100px;
  color: blue;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* justify-content: space-between; */
  color: var(--black);
  /* scroll-snap-align: start; */
}

.list-element > .title {
  /* padding-left: 20px; */
  /* padding-top: 10px; */
  /* padding-bottom: 10px; */
  /* padding-right: 10px; */
  padding: 10px 10px 10px 20px;
  font-size: 1rem;
  width: 70%;
}

.list-element > .year {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1rem;
  border-right: 2px solid orange;
  /* width: 23%; */
  margin-right: 0;
  width: 100px;
}

.year-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  width: 50px;
  height: 50px;
}

.title-content {
  font-weight: 400;
  padding: 12px 16px 12px 16px;
}

.year > .selected {
  font-weight: 600;
  height: 70px;
  width: 70px;
  font-size: 1.2rem;
  border-radius: 50%;
  /* background-color: #ffce9b; */
}

.title > .selected {
  font-size: 1.2rem;
  font-weight: 500;
  /* padding: 14px; */
  border-radius: 8px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.05), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}
/* Designing for scroll-bar */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
}
